header {
background-color: #F07917;
}

main {
  display: grid;
  gird-templates-areas:
    'asde article 
  
  
aside {
  background: #F4A15C;
}

article {
  background: #FAD6B9;
}
  
footer {
    background:#F6AE73;
}
  


