header {
background-color: #F07917;
  background-image; url("https://images.unsplash.com/photo-1501746877-14782df58970?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=375&q=80");
background-size: cover;
  background-attachment: fixed;
  background-position:center;
  height: 100%
}

main {
  display: grid;
  grid-template-areas:
    'aside article article'
    'aside footer footer';
    grid-gap:30px;
}
  
aside {
  grid-area: aside;
  background: #F4A15C;
}

article {
  grid-area: article;
  background: #FAD6B9;
}
  
footer {
  grid-area: footer;
    background:#F6AE73;
}
  


